.row:after {
	content: "";
	clear: both;
	display: block;
}

.first li {
	background-color: #99cc66;
	
}

.menu {
	position: relative;
/* 	top: 200px; */	
}

.view {
	border-color: #99cc66;
}
.column {
	margin-top: 10px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 7px;
	display: inline-block;
	width: 130px;
	background-color: #99CCFF;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

 .menu li:hover {
	background-color: #99cc66;
} 